$theme_bg: #240909;
$theme_dark: #1a0000;
$theme_light: #3a1919;
$theme_lighter: #502727;
$accent: #fef08a;
$accent_alt: #d1af83;
$accent_dark: #d1af83;
$accent_light: #fef9c3;
$info: #776551;
$text_light: #fff1f2;
$text_dark: #a8a29e;

$primary: #FFF200;
$accent: #4E7177;
$accent_darken: #33555A;
$accent_lighten: #F1F3F2;
$text: #4C4E4D;
$text_lighten: #626262;
$dark_text: #B7B1A8;
$dark_text_lighten: #CFC8BE;
$white: #ffffff;
$info: #E9E7E8;
$info_darken: #b4b4b4;
$dark_info: #282a2b;
$dark: #181A1B;
$dark_lighten: #202223;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
